body{
	background-color: white;
	font:16px/14px "微软雅黑";
}
.bodyShow{
	width: 1206px;
	height:1000px;
}
header{
	width: 1206px;
	background-color: #fff;
	height: 100px;
	border:lightgray 2px solid;
}

header a{
	display: inline-block;
    width: 338px;
    height: 73px;
    text-indent: -9999px;
    background: url(http://www.bioags.com/Web/Tpl/default/images/logo.png) no-repeat;	
}


header #title{
	
	font:22px/14px "微软雅黑";
	margin-right: 0px;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
}
#description{
	width:1206px;
	margin-top: 5px;
	font-size: 18px;
	display: inline-block;
	line-height: 20px;
	border:lightgray 2px solid;
}
.content{
	width: 600px;
	height: 350px;
	margin: 50px auto;
	font-size: 18px;
	line-height: 30px;
	background-color: lightgray;
	box-shadow:2px 2px 2px lightgray;
	position: relative;
}
.arr{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
}
.arr div{
	margin-left: 20px;
	float: left;
}
.beautifulInput{
	width:16px;
	height:16px;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 50%;
}
.num0{

}
.logbox{
	margin-left: 80px!important;
}
.account{
	font-size: 18px;
	margin-left: 1em;
}
.password,.button{
	font-size: 18px;
}
b{
	font-weight: bold;
}
.show{
	line-height: 1.3em;
}
#character{
	line-height: 1.3em;
}
/**{
	border: red 1px solid;
}*/